:root {
  --var-orange: #e0644c;
  --var-blue: #90d7ff;
  --var-dark-blue: #38bdf8;
  --var-green: #8a8f81;
  --var-black: #181415;
}

/*
p {
  color: var(--var-black);
}
*/
/*
a {
  -webkit-text-fill-color: var(--var-dark-blue);
}
*/
.full-width-container {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
}

html {
  background-color: #f8f8f8;
  /*background-color: rgb(55 65 81);*/
}
/*
.image-container {
  position: relative;
  display: inline-block;
}
*/
.profile-image {
  -webkit-animation: morph 12s ease-in-out infinite;
  animation: morph 16s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 4px;
  border: 3px solid #2d2e32;
  border-radius: 10% 40% 30% 70%/60% 30% 70% 40%;
  height: 15rem;
  position: relative;
  transition: all 0.1s ease-in-out;
  width: 15rem;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  border-radius: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  /*border: 1px solid #ccc;*/
  border-radius: 3px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #00a700;

  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #4be75d;
}

.success-alert {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #00a700;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #00a700;
  text-align: center;
  margin-top: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0.5rem;
}

.green-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #5eff70;
  animation: decreaseWidth 10s linear;
}

@keyframes decreaseWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  cursor: pointer;
  display: none;
}

.hamburger__line {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
  margin-top: 6px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    padding: 2 0px;
  }
  .hambar {
    width: 100%;
    float: right;
    margin: 24 0px;
    margin-bottom: 24px;
    padding: 0 24px;
  }
  .hambar ul {
    flex-wrap: wrap;
    float: right;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #f8f8f8;
    height: 50vh;
    width: 100%;
    left: 0;
    margin-top: 2px;
    padding: 20px;
    position: absolute;
  }
  .hambar ul li {
    list-style: none;
    padding: 10px;
  }
}

.highlighted-word {
  font-size: 100%; /* Initial font size */
  background-color: transparent;
  color: black; /* Initial text color */
  transition: background-color 1.5s ease, color 1.5s ease, font-size 1.5s ease;
}

.testimonial-card:hover p {
  line-height: 140%;
}

.testimonial-card:hover .highlighted-word {
  font-size: 105%;
  /*
  background-color: #38bdf8;
  color: white;,
  */
  background-color: orange;
  font-weight: bold;
  padding: 1px 1px;
  border-radius: 2px 3px 1px;

  /* Add any other styles you want for highlighted words */
}

.highlighted-word:hover {
  font-size: 115%;
}
